[Unit]
Description=Create charts for the house dashboard
Documentation=https://gitlab.com/claudiomattera/house-dashboard/
Requires=network-online.target
After=network-online.target

[Service]
Type=oneshot
TimeoutStartSec=5m
Environment=DASHBOARD_CONFIGURATION=/etc/house-dashboard/
Environment=DASHBOARD_OUTPUT_DIRECTORY=/var/lib/house-dashboard/charts/
Environment=RUST_LOG=warn,house_dashboard=info
